* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Rubik";
  color: #444;
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  /*  
  only works if there is nothing absolutly positioned in relation to body*/
  overflow-x: hidden;
}
/*  */
/* NAVIGATION */

.main-nav-list {
  list-style: none;
  position: absolute;
  top: 36px;
  right: 36px;
  display: flex;
  /* align-items: center; */
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: skyblue;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

header {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(hero-mobile2.jpg);
  background-size: cover;
  color: #fff;
  position: relative;
  /* Center the background image */

  transition: all 0.5s ease-in;
}

.header-container {
  width: 1200px;
  position: absolute;
  /* in relation to the parent size */
  top: 50%;
  left: 50%;

  /* in relation to element size */
  transform: translate(-50%, -50%);

  /* text-align: center; */
}

.header-container-inner {
  width: 50%;
}

nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.01;
}

p {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 500;
  background-color: #1a741a;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}
h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

section {
  padding: 96px 0;
  background-color: #f7f7f7;
}

/* ******************Accordion */
/* ///////////////////////////////////////////////////// */
.accordian {
  max-width: 1300px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number,
.text {
  font-size: 24px;
  font-weight: 500;
  /* color: #087f5b; */
}
.icon {
  width: 3.6rem;
  height: 3.6rem;
  stroke: #862e9c;
}
.downZero {
  margin: 0;
  padding: 0.6rem 0.3rem;
}

/* ************************MOBile */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* *************************************** */
/* below 1344px (84*16) */
@media (max-width: 84.2em) {
  header {
    background-position: center;

    /* Fix the background image in place */
    background-attachment: fixed;
    max-width: 120rem;
  }
  h1 {
    font-size: 4.4rem;
    margin-bottom: 24px;
  }

  p {
    font-size: 24px;
    margin-bottom: 36px;
  }

  .header-container {
    max-width: 110rem;
  }
  .container {
    width: 1100px;
  }
}

@media (max-width: 75.2em) {
  h1 {
    font-size: 3.6rem;
    margin-bottom: 24px;
  }
  .header-container {
    max-width: 100rem;
  }
  .container {
    width: 1000px;
  }
}

@media (max-width: 65.6em) {
  h1 {
    font-size: 3.6rem;
    margin-bottom: 18px;
  }

  p {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .header-container {
    max-width: 90rem;
  }
  .container {
    width: 90rem;
  }
}

@media (max-width: 65.6em) {
  .header-container {
    max-width: 70rem;
  }
  .container {
    width: 70rem;
  }
}

@media (max-width: 47.8em) {
  .accordian {
    margin: 0 auto;
    display: flex;
    padding: 0 auto;
    flex-direction: column;
  }

  .item {
    padding: 0;
    margin: 0;
  }
  .textA {
    font-size: 1.2rem;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .header-container {
    max-width: 55rem;
  }

  .container {
    width: 55rem;
  }
  .header-container-inner {
    width: 100%;
    text-align: center;
    transition: visibility 7s;
  }

  .btn-mobile-nav {
    display: block;
  }
  .hidden {
    display: none;
  }

  .main-nav {
    background-color: rgba(154, 205, 50, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .main-nav-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .main-nav-list {
    flex-direction: column;
  } */
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
  .header-container-inner {
    transition: opacity 1s;
  }
}

@media (max-width: 47.8em) {
  .header-container {
    max-width: 35rem;
  }
  .container {
    width: 35rem;
  }
  p {
    line-height: 1.2;
  }
  .number,
  .text {
    font-size: 1.5rem;

    /* color: #087f5b; */
  }
  .icon {
    width: 3rem;
    height: 3rem;
    stroke: #862e9c;
  }
}
